<div class="row mb-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="openCreateAdvertisementModal()">&plus; New Advertisement</button>
    </div>
  </div>
  
  <div class="container d-flex mt-2 mb-3">
      <table class="table table-hover">
          <thead>
        <tr>
          <th scope="col">Advertisement Name</th>
          <th class="text-center" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ad of advertisements; index as i">
          <td>{{ad.adName}}</td>
          <td>
              <ul class="list-inline text-center">
                  <!-- <li class="list-inline-item" *appHasRole="['Advertiser']">
                      <button class="btn btn-primary" routerLink="/chapter/{{chapter.id}}"><i class="fa fa-play"></i></button>
                  </li> -->
                  <li class="list-inline-item" *appHasRole="['Advertiser', 'Admin']">
                      <button class="btn btn-primary" (click)="openAdvertisementEditModal(ad)"><i class="fa fa-pencil"></i></button>
                  </li>
                  <li class="list-inline-item" *appHasRole="['Advertiser', 'Admin']">
                      <button class="btn btn-primary" (click)="openAdvertisementReplaceFileModal(ad)"><i class="fa fa-file"></i></button>
                  </li>
                  <li class="list-inline-item" *appHasRole="['Advertiser', 'Admin']">
                      <button class="btn btn-primary" (click)="delete(ad.id)"><i class="fa fa-trash"></i></button>
                  </li>
              </ul>
          </td>
        </tr>
      </tbody>
    
      </table>
    </div>