<div class="text-center mt-3 mb-3">
  <h2>Manage your advertisements</h2>
</div>

<div class="advertiser-options">
  <button class="btn btn-success create-ad-btn" (click)="openCreateAdvertisementModal()">&plus; New Advertisement</button>
</div>
  
<table class="table ad-table">
  <thead>
    <tr>
      <th class="name-col">Advertisement Name</th>
      <th class="actions-col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ad of advertisements; index as i">
      <td class="name-col">{{ad.adName}}</td>
      <td class="actions-col">
        <!-- <button class="btn btn-primary" *appHasRole="['Advertiser']" routerLink="/chapter/{{chapter.id}}"><i class="fa-solid fa-play"></i></button> -->
        <button class="btn btn-primary" *appHasRole="['Advertiser', 'Admin']" (click)="openAdvertisementEditModal(ad)"><i class="fa-solid fa-pencil"></i></button>
        <button class="btn btn-primary" *appHasRole="['Advertiser', 'Admin']" (click)="openAdvertisementReplaceFileModal(ad)"><i class="fa-solid fa-file"></i></button>
        <button class="btn btn-primary" *appHasRole="['Advertiser', 'Admin']" (click)="delete(ad.id)"><i class="fa-solid fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
    
</table>
