<div class="card" *ngIf="book">
    <h5 class="card-item">{{book.title}}</h5>
    <h6 class="card-item author">{{book.author}}</h6>
    <ul class="list-inline card-item">
        <li class="list-inline-item">
            <button class="btn btn-primary" routerLink="/book/detail/{{book.id}}"><i class="fa-solid fa-book"></i></button>
        </li>
        <li class="list-inline-item" *appHasRole="['AppMember']" [hidden]="inUserLibrary">
            <button class="btn btn-primary" (click)="addToLibrary()"><i class="fa-solid fa-bookmark"></i></button>
        </li>
        <li class="list-inline-item" *ngIf="club?.owningUserId == member?.id">
            <button class="btn btn-primary" (click)="removeBookFromClub(book.id)"><i class="fa-solid fa-xmark"></i></button>
        </li>
    </ul>
</div>