tbody > tr:hover {
    cursor: pointer;
}

h2 {
    text-align: center;
    margin: 20px 10%;
}

.bookclub-options {
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
    align-content: center;
    padding: 10px 5%;
}

.create-club-btn {
    width: 100%;
}