<div class="modal-header">
    <h4 class="modal-title pull-left">Edit details for {{clubName}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #bookClubEditForm="ngForm" id="bookClubEditForm" autocomplete="off">
        <label for="clubName">Title</label>
        <input type="text"
            name="clubName"
            value="{{clubName}}"
            [(ngModel)]="clubName">
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="bookClubEditForm" (click)="bsModalRef.hide()" class="btn btn-primary">Save</button>
</div>