.owner-options {
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
    align-content: center;
    padding: 0 5% 10px;
}

.owner-option-btn {
    width: 100%;
}

.member-table tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    justify-content: stretch;
}

.member-col {
    grid-column: 1 / 4;
}

.actions-col {
    grid-column: 4 / -1;
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.book-item {
    justify-self: stretch;
    align-self: center;
    margin: 10px;
}

.pagination-control {
    display: flex;
    align-items: stretch;
}

.book-pagination {
    justify-content: flex-start;
}

.member-pagination {
    justify-content: flex-end;
}

@media screen and (max-width: 800px) {
    .book-list {
        grid-template-columns: 1fr;
    }

    .book-pagination {
        justify-content: space-around;
    }

    .member-pagination {
        justify-content: space-around;
    }
}