<div class="text-center mt-3 mb-2">
    <h2>{{club?.clubName}}</h2>
</div>
<div class="owner-options" *ngIf="club?.owningUserId == member?.id">
    <button class="btn btn-secondary owner-option-btn" (click)="openEditBookClubModal()">Edit Book Club Details</button>
</div>
<div>
    <h4 class="mt-2">Current Club Material</h4>
</div>
<div class="book-list mb-3" *ngIf="books.length > 0">
    <div class="book-item" *ngFor="let book of books">
        <app-book-club-book-card [book]="book" [club]="club" [member]="member" (removeFromClubEvent)="removeBookClubBook($event)"></app-book-club-book-card>
    </div>
</div>
<div class="row mb-5 text-center" *ngIf="books.length == 0">
    <h6 class="text-info">It looks like there this Book Club doesn't have any listening material yet. Check back later for the the Audiobook(s) to engage with and discuss.</h6>
</div>

<div class="pagination-control book-pagination" *ngIf="bookPagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="bookPagination.totalItems"
        [itemsPerPage]="bookPagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="bookPagination.currentPage"
        (pageChanged)="pageChangedBooks($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>

<div class="owner-options">
    <button class="btn btn-secondary owner-option-btn"(click)="openAddBookClubBookModal()" *ngIf="club?.owningUserId == member?.id">&plus; Audiobook</button>
</div>

<hr class="solid" style="border-top: 3px solid #6e8ca0">

<div class="owner-options">
    <button class="btn btn-secondary owner-option-btn" (click)="openAddBookClubMemberModal()" *ngIf="club?.owningUserId == member?.id">&plus; New Member</button>
</div>
<table class="table member-table">
    <thead>
        <tr>
            <th class="member-col">Member Name</th>
            <th class="actions-col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clubMember of clubMembers">
            <td class="member-col">{{clubMember.userName}} <i class="fa-solid fa-key" *ngIf="club?.owningUserId == member?.id && member?.id == clubMember.id"></i></td>
            <td class="actions-col">
                <button class="btn btn-primary"><i class="fa-solid fa-circle-user"></i></button>
                <button class="btn btn-primary" *ngIf="club?.owningUserId == member?.id && member?.id != clubMember.id" (click)="removeBookClubMember(clubMember.id)"><i class="fa-solid fa-user-slash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="pagination-control member-pagination" *ngIf="userPagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="userPagination.totalItems"
        [itemsPerPage]="userPagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="userPagination.currentPage"
        (pageChanged)="pageChangedMembers($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>

<div class="owner-options" style="padding-top: 100px;" *ngIf="club?.owningUserId == member?.id">
    <button class="btn btn-danger owner-option-btn" (click)="deleteBookClub()">Delete Book Club</button>
</div>