<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a routerLink="/" class="navbar-brand" routerLinkActive="active">Bookend App</a>

        <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active">My Library</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active">Books</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active">Messages</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active">Bookclubs</a></li>
        </ul>

    <div *ngIf="accountService.currentUser$ | async" class="dropdown" dropdown>
            <img src="" alt="user photo">
            <a class="dropdown-toggle text-decoration-none text-light ms-2" dropdownToggle>Welcome</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <a class="dropdown-item">Logout</a>
            </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input name="username" type="text" class="form-control me-2" placeholder="Username">
            <input name="password" type="password" class="form-control me-2" placeholder="Password">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</nav>