<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a routerLink="/" class="navbar-brand" routerLinkActive="active">Bookend App</a>

        <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"><a class="nav-link" routerLink="/library" routerLinkActive="active">My Library</a></li>
                <li class="nav-item"><a class="nav-link" *appHasRole="['Publisher']" routerLink="/books/manage" routerLinkActive="active">Books</a></li>
                <li class="nav-item"><a class="nav-link" *appHasRole="['AppMember']" routerLink="/books" routerLinkActive="active">Books</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/bookclubs" routerLinkActive="active">Bookclubs</a></li>
        </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img src="{{user.photoUrl}}" alt="user photo">
            <a class="dropdown-toggle text-decoration-none text-light ms-2" dropdownToggle>Welcome {{user.userName| titlecase}}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
                <a class="dropdown-item" *appHasRole="['Admin', 'Advertiser']" routerLink="/advertisements/manage">Manage Advertisements</a>
                <a class="dropdown-item" *appHasRole="['Admin', 'Publisher']" routerLink="/books/manage">Manage Books</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.userName" type="text" class="form-control me-2" placeholder="UserName">
            <input name="password" [(ngModel)]="model.password" type="password" class="form-control me-2" placeholder="Password">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</nav>