<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container header">
        <div style="display: flex; justify-content: space-between;">
            <a routerLink="/" class="navbar-brand" routerLinkActive="active">Bookend App</a>
            <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav me-auto mb-2 mb-md-0 bookend-nav-list">
                    <li class="nav-item"><a class="nav-link" routerLink="/library" routerLinkActive="active">My Library</a></li>
                    <li class="nav-item"><a class="nav-link" *appHasRole="['Publisher']" routerLink="/books/manage" routerLinkActive="active">Books</a></li>
                    <li class="nav-item"><a class="nav-link" *appHasRole="['AppMember']" routerLink="/books" routerLinkActive="active">Books</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/bookclubs" routerLinkActive="active">Bookclubs</a></li>
            </ul>
        </div>

        <div>
            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <img src="{{user.photoUrl}}" alt="user photo">
                <a class="dropdown-toggle text-decoration-none text-light ms-2" dropdownToggle>Welcome {{user.userName| titlecase}}</a>
                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
                    <a class="dropdown-item" *appHasRole="['Admin', 'Advertiser']" routerLink="/advertisements/manage">Manage Advertisements</a>
                    <a class="dropdown-item" *appHasRole="['Admin', 'Publisher']" routerLink="/books/manage">Manage Books</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
    
            <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                <input name="username" [(ngModel)]="model.userName" type="text" class="form-control me-2" placeholder="UserName">
                <input name="password" [(ngModel)]="model.password" type="password" class="form-control me-2" placeholder="Password">
                <button class="btn btn-info" type="submit">Login</button>
            </form>
        </div>
    </div>

    <div class="container-fluid mobile-header">
        <!-- <img src="" alt="bookend logo" class="logo"> 
        <i class="fa-solid fa-book fa-xl" style="color: #f0f3f4"></i>
        <div>
            <nav class="navbar navbar-dark bg-primary">
                <button class="btn-secondary hamburger-menu-toggler" type="button" data-mdb-collapse-init
                    data-mdb-target="#hamburgerMenuToggleExternalContent"
                    aria-controls="hamburgerMenuToggleExternalContent"
                    aria-expanded="false"
                    aria-label="Hamburger navigation">
                    <div class="animated-icon"><span></span><span></span><span></span></div>
                </button>
            </nav>

            <div class="collapse" id="hamburgerMenuToggleExternalContent">
                <div *ngIf="(accountService.currentUser$ | async) as user">
                    <a class="nav-link" routerLink="/library" routerLinkActive="active">My Library</a>
                    <a class="nav-link" *appHasRole="['Publisher']" routerLink="/books/manage" routerLinkActive="active">Books</a>
                    <a class="nav-link" *appHasRole="['AppMember']" routerLink="/books" routerLinkActive="active">Books</a>
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                    <a class="nav-link" routerLink="/bookclubs" routerLinkActive="active">Bookclubs</a>
                    <a routerLink="/member/edit">Edit Profile</a>
                    <a *appHasRole="['Admin', 'Advertiser']" routerLink="/advertisements/manage">Manage Advertisements</a>
                    <a *appHasRole="['Admin', 'Publisher']" routerLink="/books/manage">Manage Books</a>
                    <a (click)="logout()">Logout</a>
                </div>
    
                <div *ngIf="!(accountService.currentUser$ | async)">
                    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                        <input name="username" [(ngModel)]="model.userName" type="text" class="form-control" placeholder="UserName">
                        <input name="password" [(ngModel)]="model.password" type="password" class="form-control" placeholder="Password">
                        <button class="btn btn-info" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav> -->

<header class="header">
    <div class="header-content">
        <a routerLink="/" class="navbar-brand" routerLinkActive="active">Bookend App</a>
        <nav class="nav" *ngIf="(accountService.currentUser$ | async) as user">
            <ul class="nav-list">
                <li class="nav-item" (click)="removeMobileMenu()">
                    <a class="nav-link" routerLink="/library" routerLinkActive="active">My Library</a>
                </li>
                <li class="nav-item" *appHasRole="['Publisher']" (click)="removeMobileMenu()">
                    <a class="nav-link" routerLink="/books/manage" routerLinkActive="active">Books</a>
                </li>
                <li class="nav-item" *appHasRole="['AppMember']" (click)="removeMobileMenu()">
                    <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
                </li>
                <li class="nav-item" (click)="removeMobileMenu()">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
                <li class="nav-item" (click)="removeMobileMenu()">
                    <a class="nav-link" routerLink="/bookclubs" routerLinkActive="active">Bookclubs</a>
                </li>
                <li class="nav-item dropdown" dropdown>
                    <a class="dropdown-toggle text-decoration-none text-light inline" dropdownToggle>Manage Account</a>
                    <div class="dropdown-menu" *dropdownMenu>
                        <a class="dropdown-item nav-link" routerLink="/member/edit" (click)="removeMobileMenu()">Edit Profile</a>
                        <a class="dropdown-item nav-link" *appHasRole="['Admin', 'Advertiser']" routerLink="/advertisements/manage" (click)="removeMobileMenu()">Manage Advertisements</a>
                        <a class="dropdown-item nav-link" *appHasRole="['Admin', 'Publisher']" routerLink="/books/manage" (click)="removeMobileMenu()">Manage Books</a>
                        <a class="dropdown-item nav-link" (click)="logout(); removeMobileMenu();">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <nav class="nav nav-login" *ngIf="!(accountService.currentUser$ | async)">
            <form class="login-form" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <input name="username" [(ngModel)]="model.userName" type="text" class="form-control" placeholder="UserName">
                <input name="password" [(ngModel)]="model.password" type="password" class="form-control" placeholder="Password">
                <button class="btn btn-info" type="submit">Login</button>
            </form>
        </nav>

        <div class="hamburger" (click)="toggleMobileMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</header>