.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    left: 0;
    
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d97d54;
    min-height: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.login-form > * {
    padding: 5px 5px;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #d97d54;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.logo {
    color: #fff;
    font-size: 23px;
    font-weight: 500;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-item {

}

.nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    transition: all 0.4s;
}

.nav-link:hover,
.nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2){
    opacity: 0;
}

.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

@media screen and (max-width: 800px) {
    .nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 60px;
        left: 0;
        background-color: #d97d54;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(100%);
        align-items: center;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }
}