<div class="modal-header">
    <h4 class="modal-title pull-left">Add a Book Club Member</h4>
    <button type="button" class="btn-close close pull-right" aria-label="close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="member-search">
        <form #searchMembersForm="ngForm" id="searchMembersForm" (ngSubmit)="searchMembers()" style="width: 75%;" autocomplete="off">
            <input type="text"
            name="searchString"
            [(ngModel)]="searchString"
            placeholder="Search Members..."
            style="width: 100%">
        </form>
        <button type="submit" form="searchMembersForm" class="btn btn-primary" style="width: 20%;">Search</button>
    </div>
    <form *ngIf="searched" #addBookClubMemberForm="ngForm" id="addBookClubMemberForm" (ngSubmit)="addNewMember()" autocomplete="off">
        <table>
            <tbody>
                <tr *ngFor="let member of otherMembers">
                    <td>
                        <input type="radio" id="{{member.id}}" name="newMember" value="{{member.id}}" [(ngModel)]="newMemberId">
                        <label for="{{member.id}}">{{member.userName}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="pagination-control" *ngIf="pagination">
        <pagination
            [boundaryLinks]="true"
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">
        </pagination>
    </div>
</div>
<div class="modal-footer" style="justify-content: start;">
    <button class="btn btn-success" type="submit" form="addBookClubMemberForm" [disabled]="!searched || otherMembers.length == 0">Add Member</button>
</div>