<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Listen to some books</h1>
        <p class="lead">Sign up now to start listening.</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Sign Up</button>
            <button class="btn btn-secondary btn-lg me-2">Learn more</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <!-- register component here -->
            </div>
        </div>
    </div>
</div>