<div class="text-center mt-3 mb-3">
    <h2>Manage the books you have published</h2>
</div>

<div class="publisher-options">
    <button class="btn btn-success create-book-btn" (click)="openCreateBookModal()">Create Book</button>
</div>

<div class="book-list">
    <div class="book-item" *ngFor="let book of books">
        <app-book-card [book]="book" (deleteBookEvent)="deleteBook($event)"></app-book-card>
    </div>
</div>

<div class="pagination-control" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>