.media-player-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    justify-content: stretch;
    align-items: start;
    margin-bottom: 10px;
}

.media-player {
    grid-column: 1 / 3;
}

.btn-circle {
    border-radius: 50%;
}

.btn > .fa {
    font-size: 1.3rem;
    color: black;
}

.time-slider {
    width: auto;

    --mdc-slider-handle-color: white;
    --mdc-slider-focus-handle-color: white;
    --mdc-slider-hover-handle-color: white;
    --mdc-slider-active-track-color: whitesmoke;
    --mdc-slider-inactive-track-color: #d7d7d77f;
    --mdc-slider-handle-height: 10px;
    --mdc-slider-handle-width: 10px;

    --mat-mdc-slider-ripple-color: white;
    --mat-mdc-slider-hover-ripple-color: rgba(255, 255, 255, 0.171);
    --mat-mdc-slider-focus-ripple-color: rgba(255, 255, 255, 0.504);
}

@media screen and (max-width: 800px) {
    .media-player-container {
        grid-template-columns: 1fr;
        row-gap: 10px;
        margin: 5%;
    }
}